// Here you can add other styles
.custom-table-header {
    margin-bottom: -2px !important;
    background-color: rgb(93, 99, 153);
}

.custom-table-body {
    margin-bottom: 0px !important;
}

.sidebar .custom-sub-menu {
    text-indent: 10px;
}
